.text-truncate-3{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: break-spaces;
    overflow: hidden;
}

/*#admin-products input[type="file"] {*/
/*    display: none;*/
/*}*/

/*.custom-file-upload {*/
/*    padding: 10px;*/
/*    border: 1px solid red;*/
/*    border-radius: 10px;*/
/*}*/

#admin-products .thumbnail{
    object-fit: cover;
    aspect-ratio: 240 / 240;
    max-width: 240px;
    margin: auto;
}

#admin-products input::-webkit-outer-spin-button,
#admin-products input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#admin-products input[type=number] {
    -moz-appearance: textfield;
}
